@model BinaryStudioAcademy_TestFacebooklikeApp2.Models.LoginModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    
<h2>Your profile</h2>


<div class = "container">
    <h2>Index</h2>
    <li>@Html.ActionLink("Show your profile","EditProfile","Profile")</li>
    <li>@Html.ActionLink("Edit your profile","EditProfile","Profile")</li>
    <li>@Html.ActionLink("Add your friends","Search","Profile")</li>
    <li>@Html.ActionLink("Show suggested friends","Suggest","Profile")</li>
</div>
