@{
    ViewBag.Title = "Index";
}

<div class="container">
    <header> Facebooklike app </header>
    @Html.ActionLink("Register","Registration","Login")
    @Html.ActionLink("Login","Login","Login")
</div>
